<div class="pt-4 px-80" style="background-color: #05203C;">
    <div class="grid grid-row-1 grid-cols-3 ">
        <div class="col-span-2">
            <img src="../../../assets/logo-2.png" class="h-20 w-40">
        </div>
        <div class="flex flex-row-reverse float-right mt-4">
        <div >
            <button class="align-middle hover:bg-gray-400">
                <img src="../../../assets/letter-b.png" class="h-8 w-8 mr-4">
            </button>
                
        </div>
        <div>
            <button>
                <img src="../../../assets/heart.png" class="h-8 w-8 mr-4">
            </button>
        </div>
        </div>
       
    </div>
    <div class="grid grid-col-3 my-4">

        <div class="flex flex-row">
            <div class="border border-gray-200 mr-1 rounded-3xl hover:bg-blue-500">
                <button>
                    <div class="flex flex-row mx-2 my-2 rounded-3xl">
                        <div class="flex flex-row mx-2 my-2 rounded-3xl">
                            <div class="my-1 ml-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option2">
                            </div>
                            <div class="mr-2">
                                <img src="../../../assets/dental-crown.png" class="h-4 w-4 mt-2">
                            </div>
                            <div id="dental-bg" class="flex  justify-center items-center h-8 py-3">
                                <div class="text-center mr-2">
                                    <span class="text-xs">Dental Operation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
                <div class="border border-gray-200 mr-1 rounded-3xl hover:bg-blue-500">
                <button>
                    <div class="flex flex-row mx-2 my-2 rounded-3xl">
                        <div class="flex flex-row mx-2 my-2 rounded-3xl">
                            <div class="my-1 ml-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            </div>
                            <div class="mr-2">
                                <img src="../../../assets/surgery.png" class="h-4 w-4 mt-2">
                            </div>
                            <div id="dental-bg" class="flex  justify-center items-center h-8 py-3">
                                <div class="text-center mr-2">
                                    <span class="text-xs">Plastic Surgery</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="border border-gray-200 mr-1 rounded-3xl hover:bg-blue-500">
                <button>
                    <div class="flex flex-row mx-2 my-2 rounded-3xl">
                        <div class="flex flex-row mx-2 my-2 rounded-3xl">
                            <div class="my-1 ml-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                            </div>
                            <div class="mr-2">
                                <img src="../../../assets/hair-transplant.png" class="h-4 w-4 mt-2">
                            </div>
                            <div id="dental-bg" class="flex  justify-center items-center h-8 py-3">
                                <div class="text-center mr-2">
                                    <span class="text-xs">Hair Transplant</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="my-8">
            <span class="text-3xl">Millions of health center just one click away!</span>
        </div>

        <div class="grid grid-row-1 grid-cols-6 gap-8">
            <div class="grid col-span-3">
                    <mat-form-field class="h-20">
                      <mat-label><span class="text-black font-semibold text-xl">Select City</span></mat-label>
                      <mat-select  panelClass="matRole" [(ngModel)]="selectedValue" name="city" class="spec" >
                        @for (city of cities; track city) {
                          <mat-option [value]="city.value" ><span class="text-black font-semibold text-2xl">{{city.viewValue}}</span></mat-option>
                        }
                      </mat-select>
                    </mat-form-field>

            </div>
           
            <div class="grid col-start-5 h-16">
                <button class=" rounded-3xl" (click)="search()" style="background-color: #0062E3;">
                    <span>Search</span>
                </button>
            </div>
        </div>

        <div>
            <div class="shadow-2xl">
                <img src="../../../assets/istanbul.jpg" class="w-full rounded-3xl shadow-slate-500 shadow-2xl" style="height: 600px; margin-bottom:-100px">
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-2 grid-row pl-8 mx-80 rounded-3xl" style="margin-top:200px; background-color: #05203C;">
    <div>
        <div class="mt-28 mb-5 mx-10">
            <p class="text-5xl font-bold ">Find best clinic </p>
            <p class="text-5xl font-bold">with your trip!</p>
        </div>
        <div class="mx-10">
            <p class="font-semibold">Best prices for you with reviews, with customer support.  </p>
            <p class="font-semibold">
                Compare prices find best fit for you.</p>
        </div>

        <button class="hover:bg-gray-500   mx-10 my-10 bg-white p-2 rounded-2xl"><span class="text-black font-bold">Explore opportunity!</span></button>
    </div>
    <div>
        <img src="../../../assets/clinic.PNG" class="w-full h-full rounded-tr-3xl rounded-br-3xl">
    </div>
    <div>

    </div>


</div>
<div class="my-10">
    <span class="text-black mx-80 text-2xl  font-semibold">Searching your next health trip with TIG</span>
</div>

<div class="grid grid-row-1 grid-cols-2 mx-80 gap-12">
    
    <div>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This is the expansion title
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <span class="text-black">This is the primary content of the panel.</span>
          </mat-expansion-panel>
    </div>
    <div>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This is the expansion title
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <span class="text-black">This is the primary content of the panel.</span>
          </mat-expansion-panel>
    </div>

    
</div>


<div class="grid grid-cols-4 grid-row-1 mt-48 px-80 py-16" style="background-color: #05203C;">
    <div>
        <p class="font-bold">EN &#x2022; USD &#x2022; $ </p>
    </div>
    <div>
        <p class="font-bold">
            Help
        </p>
        <p class="font-bold">
            Privacy Settings
        </p>
        <p class="font-bold">
            Sign in
        </p>
    </div>
    <div>
        <p class="font-bold">
            Cookie Policy
        </p>
        <p class="font-bold">
            Privacy Policy
        </p>
        <p class="font-bold">
            Terms of Service
        </p>
        <p class="font-bold">
            Company Contact Information
        </p>
    </div>
    <div>
        <p class="font-bold">
            Search
        </p>
        <p class="font-bold">
            Company
        </p>
        <p class="font-bold">
            Travels
        </p>
        <p class="font-bold">
            Work partners
        </p>

    </div>

</div>







