
<div class="pt-4 px-80" style="background-color: #05203C;">
    <div class="grid grid-row-1 grid-cols-3 ">
        <div class="col-span-2">
            <button (click)="redirectHome()">
                <img src="../../../assets/logo-2.png" class="h-20 w-40">
            </button>

        </div>
        <div class="flex flex-row-reverse float-right mt-4">
        <div >
            <button class="align-middle hover:bg-gray-400">
                <img src="../../../assets/letter-b.png" class="h-8 w-8 mr-4">
            </button>
                
        </div>
        <div>
            <button>
                <img src="../../../assets/heart.png" class="h-8 w-8 mr-4">
            </button>
        </div>
        </div>
    </div>
    <div class="pb-4">
        <div class="bg-white text-center p-4 mt-6 rounded-3xl">
            <span class="text-black font-semibold"> İstanbul - MedTravel Pro - Hair Transplant</span>
        </div>
    </div>
</div>

<div class="pt-4 px-80">
    <p class="text-black text-3xl">Medtravel Pro    <button class="ml-10 rounded-2xl border-2 border-black bg-blue-600 px-4 py-2"><span class="text-white">Contact Agency!</span></button></p>
 
    <p class="text-black text-2xl">İstanbul,Turkey</p>
    <img src="../../../assets/5-stars.png" class="w-14"> 
    <p class="text-black text-decoration-underline">1.402 review</p>
    <div class="grid grid-cols-2 gap-4">
        <div>
           <img src="../../../assets/Designer (6).jpeg" class="w-full ">
           <p class=" text-2xl font-bold text-decoration-underline my-4 text-blue-500">Reviews</p>
           <p class="text-2xl font-extrabold text-blue-800">Overall point based on 1.402 review </p>
           <span class="text-yellow-400 font-extrabold text-5xl">5.0</span>
           <div class="border-2 border-white shadow-2xl rounded-2xl my-4">
            <p class= "text-black p-4">Verified Review 	&#10003;</p>
            <p class=" text-black text-xl font-bold px-4">Conrad K. United Kingdom - Hair Transplant</p>
            <img src="../../../assets/5-stars.png" class="w-10 h-10 mx-4">
            <p class="text-black text-justify p-4">Med travel exceeded my expectations in every way! The staff was incredibly supportive and answered all my questions. My hair  transplant looks so natural, and it has boosted my confidence to new heights. I'm so grateful to the entire team for their exceptional care. Highly recommend! ✨</p>
           </div>
           <div class="border-2 border-white shadow-2xl rounded-2xl my-4">
            <p class= "text-black py-3 px-4">Verified Review 	&#10003;</p>
            <p class=" text-black text-xl font-bold px-4">Edwars A. United States - Hair Transplant</p>
            <img src="../../../assets/5-stars.png" class="w-10 h-10 mx-4">
            <p class="text-black text-justify p-4">My experience at Med Travel Clinic was nothing short of amazing. The surgeons are true artists, and their attention to detail is impeccable. The post-op care was excellent, and they made sure I was comfortable throughout my recovery. My hair transplant has completely transformed my face, and I've received so many compliments. A big thank you to everyone at Medtravel Clinic! 🙏</p>
           </div>
        </div>
        <div>
            <p class="text-2xl font-semibold text-decoration-underline text-blue-800">About The Clinic</p>
            <p class="text-black text-wrap text-justify">Welcome to MedTravel Pro, your premier destination for combining world-class healthcare with the rich and diverse experiences of Turkey. At MedTravel Pro, we specialize in providing an unparalleled medical tourism experience, seamlessly blending top-notch medical treatments with unforgettable travel adventures.</p>
            
            <p class="text-black py-4 font-semibold">Langauges Spoken</p>
            <img src="../../../assets/lang.PNG">
            <p class="text-black py-4 font-semibold">Provided Tourism Packages</p>
            <div class="grid grid-cols-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/ayasofya.jpg" class="card-img-top h-56" >
                    <div class="card-body">
                      <h5 class="card-title">İstanbul Historical </h5>
                      <h5 class="text-black">Holiday</h5>
                      <p class="card-text text-black">Visit famous historical places like: Hagia Sophia,Basilica Cistern, Galata Tower, Valens Aqueduct. All included transportation and hotel.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../../assets/antalya.jpg" class="card-img-top h-56" >
                    <div class="card-body">
                      <h5 class="card-title">İstanbul + Antalya Sunny Holiday</h5>
                      <p class="card-text text-black">Visit İstanbul and Antalya in your holiday. 5 day visit. 3 day İstanbul. 2 day Antalya. All inluded airplane tickets hotels and transportation for you.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../../assets/hotel.webp" class="card-img-top h-56" >
                    <div class="card-body">
                      <h5 class="card-title">İstanbul Premium 5 Star Hotel</h5>
                      <p class="card-text text-black">Visit best 5 star hotel in İstanbul for 5 days. All price included.</p>
                    </div>
                  </div>   
            </div>
            <div class="mt-20">
                <p class="text-blue-600 font-bold text-2xl text-decoration-underline mb-5">Accreditations</p>
                <div class="grid grid-cols-3">
                    <div class="flex justify-center items-center">
                        <img title="International Organization for Standardization" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM1jhQTluDkZbd61sKQK7bFuJSuot3qTMfiQEjLmPJsA&s" class="w-20 h-20 grayscale">
                    </div>
                    <div class="flex justify-center items-center">
                        <img title="Republic of Türkiye Ministry of Health" src="https://yt3.googleusercontent.com/ytc/AIdro_nnpxTpH03bCbzY669bkxx1TZwASriiRHijPaL9NaM3kSI=s900-c-k-c0x00ffffff-no-rj" class="w-20 h-20 grayscale">
                    </div>

                    <div class="flex justify-center items-center">
                        <img title="Turkish Medical Association" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGFkcnvEHzcXTwXK-_AgvYWsy3_v6-JBdvq6HcACBl_Q&s" class="w-20 h-20 grayscale">
                    </div>
                </div>
            </div>
            <div class="mt-20">
                <p class="text-gray-700 font-light text-xl text-decoration-underline">Services</p>
                <div class="grid grid-cols-4">
                    <div>
                        <p class="text-gray-700 text-bold">&#10003; Open weekends</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-bold"> &#10003;Open 24 hours</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-bold"> &#10003;Emergency services</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-bold"> &#10003;Airport Pick-up</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-bold">&#10003; Hotel Booking</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-bold">&#10003; Hotel Pick-up</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-bold">&#10003; Tours and vacation services</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-bold">&#10003; Translation Services</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-bold">&#10003; Local Guide</p>
                    </div>
                    <div>
                        <p class="text-gray-700 text-bold">&#10003; Local travel</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    </div>
