<div class="pt-4 px-80" style="background-color: #05203C;">
    <div class="grid grid-row-1 grid-cols-3 ">
        <button (click)="redirectHome()">
            <div class="col-span-2">
                <img src="../../../assets/logo-2.png" class="h-20 w-40">
            </div>
        </button>

        <div class="flex flex-row-reverse float-right mt-4">
        <div >
            <button class="align-middle hover:bg-gray-400">
                <img src="../../../assets/letter-b.png" class="h-8 w-8 mr-4">
            </button>
                
        </div>
        <div>
            <button>
                <img src="../../../assets/heart.png" class="h-8 w-8 mr-4">
            </button>
        </div>
        </div>
    </div>
    <div class="pb-4">
        <div class="bg-white text-center p-4 mt-6 rounded-3xl">
            <span class="text-black font-semibold"> İstanbul -  Hair Transplant</span>
        </div>
    </div>
</div>
<div class="px-80 pb-4">
    <p class="text-black font-semibold text-4xl mt-4">Explore İstanbul</p>
</div>

    <div class="grid px-80 grid-cols-6 gap-4 pb-4">
        
        <div class="col-span-3">
            <button id="cheapest" [ngStyle]="{}" class="rounded-xl border-2 border-black px-8 py-2">
                <span class="text-black">Cheapest</span>
            </button>
        </div>
        <div class="col-span-3">
            <button id="bestrank" class="rounded-xl border-2 border-black px-8 py-2">
                <span class="text-black">Best by ranking</span>
            </button>
        </div>    
    </div>

    <div class="grid grid-cols-3 gap-4 px-80">
        <div class="border-2  rounded-3xl border-white shadow-2xl hover:shadow-blue-500">
            <button class="w-full" (click)="navigate('med-travel')">
                <div>
                    <img src="../../../assets/Designer.jpeg" class="w-full rounded-t-3xl">
                    <p class="text-black text-left text-2xl font-semibold pt-3 px-4">MedTravel Pro </p>
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">İstanbul<span class="text-blue-600 font-extrabold float-right">₺₺₺₺₺</span></p>
                     <img src="../../../assets/5-stars.png" class="h-10 w-10 ml-6"> 
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">Hair Transplant- Rhinoplasty</p>
                </div>
            </button>
        </div>
        <div class="border-2  rounded-3xl border-white shadow-2xl hover:shadow-blue-500">
            <button class="w-full">
                <div>
                    <img src="../../../assets/Designer (1).jpeg" class="w-full rounded-t-3xl">
                    <p class="text-black text-left text-2xl font-semibold pt-3 px-4">Wellness Voyage</p>
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">İstanbul<span class="text-blue-600 font-extrabold float-right">₺₺₺</span></p>
                    <img src="../../../assets/5-stars.png" class="h-10 w-10 ml-6"> 
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">Hair Transplant- Dental Operations</p>
                </div>
            </button>
        </div>
        <div class="border-2  rounded-3xl border-white shadow-2xl hover:shadow-blue-500">
            <button class="w-full">
                <div>
                    <img src="../../../assets/Designer (2).jpeg" class="w-full rounded-t-3xl">
                    <p class="text-black text-left text-2xl font-semibold pt-3 px-4">HealthQuest Journeys </p>
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">İstanbul<span class="text-blue-600 font-extrabold float-right">₺₺₺₺</span></p>
                    <img src="../../../assets/4-stars.png" class="h-10 w-10 ml-6"> 
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">Hair Transplant</p>
                </div>
            </button>
        </div>
        
        <div class="border-2  rounded-3xl border-white shadow-2xl hover:shadow-blue-500">
            <button class="w-full">
                <div>
                    <img src="../../../assets/Designer (3).jpeg" class="w-full rounded-t-3xl">
                    <p class="text-black text-left text-2xl font-semibold pt-3 px-4">CuraTours</p>
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">İstanbul<span class="text-blue-600 font-extrabold float-right">₺₺₺₺₺₺</span></p>
                    <img src="../../../assets/3-stars.png" class="h-10 w-10 ml-6"> 
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">Hair Transplant</p>
                </div>
            </button>
        </div>
        <div class="border-2  rounded-3xl border-white shadow-2xl hover:shadow-blue-500">
            <button class="w-full">
                <div>
                    <img src="../../../assets/Designer (4).jpeg" class="w-full rounded-t-3xl">
                    <p class="text-black text-left text-2xl font-semibold pt-3 px-4">Vitality Travels</p>
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">İstanbul <span class="text-blue-600 font-extrabold float-right">₺₺</span></p>
                    <img src="../../../assets/4-stars.png" class="h-10 w-10 ml-6"> 
                    <p class="text-gray-500 text-left px-4 pt-2 py-4">Hair Transplant-Plastic Surgery </p>
                </div>
            </button>
        </div>


    </div>
